.wrapper-auth {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-windows {
    font-size: 10px;
    width: 527px;
    height: 716px;
    background-color: #FFF;
    border-radius: 4em;
    border: 1px solid #EDEDED;
    padding: 6px;
}

/* .auth-inner-windows {
    background: linear-gradient(
        to bottom,
        rgba(35, 35, 35, 0.03) 0%,
        rgba(35, 35, 35, 0) 50%
    );
    height: 100%;
    border-radius: 3.4em;
    padding: 4.8em;
    border: 1px solid transparent;
    border-image: linear-gradient(to bottom, #EDEDED 20%, transparent 100%);
} */

/* EDEDED */
/* .auth-inner-windows {
    position: relative;
    height: 100%;
    border-radius: 3.4em;
    padding: 4.8em;
    
    background: linear-gradient(
        to bottom,
        rgba(35, 35, 35, 0.03) 0%,
        rgba(35, 35, 35, 0) 50%
    );
    
    border: 3px solid transparent;
    background: 
        linear-gradient(rgba(35, 35, 35, 0.03) 0%, rgba(35, 35, 35, 0) 50%) padding-box,
        linear-gradient(to bottom, #EDEDED 20%, rgba(237, 237, 237, 0) 100%) border-box;
} */